Files/Microsoft.Flow/flows/bbff2721-bd12-4c5a-8eb0-6ee9655a566b/definition.json
{"name":"f7cd60f1-ad86-422d-b26b-3d72b2579228","id":"/providers/Microsoft.Flow/flows/f7cd60f1-ad86-422d-b26b-3d72b2579228","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Monthly Consumables Stock Report","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"449a94d6-4964-47bc-a63b-34eb74ce62fe","type":"User","tenantId":"17376055-4781-4ad5-bbef-75d5442a36d3"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-03-17T08:33:17.83758Z","connectionKeySavedTimeKey":"2026-03-17T08:33:17.83758Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Month","interval":1,"timeZone":"Egypt Standard Time","startTime":"2026-01-01T08:00:00.000Z"},"evaluatedRecurrence":{"frequency":"Month","interval":1,"timeZone":"Egypt Standard Time","startTime":"2026-01-01T08:00:00.000Z"},"metadata":{"operationMetadataId":"0d0442d1-0605-4eea-aa95-0d54c6ed3183"},"type":"Recurrence"}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"fd675d87-847a-4d14-95e0-0e4904cd1e96"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nilesugareg.sharepoint.com/sites/IT423-ITInfrastructure","table":"bda1d084-3a03-4253-a3c4-daad9e86ea4a"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"c5541438-0f1b-4b9c-b200-0ef537a4da68"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":{"Item":"@item()?['Title']","Stock":"@item()?['field_4']","No of Printers":"@item()?['field_3']","To Order":"@item()?['field_5']","Oracle Code":"@item()?['field_11']","Site":"@item()?['field_10']"}}},"Create_HTML_table":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"6001b611-7b91-41c9-a113-90b790e3d051"},"type":"Table","inputs":{"from":"@body('Select')","format":"HTML"}},"Send_an_email_(V2)":{"runAfter":{"StyledTable":["Succeeded"]},"metadata":{"operationMetadataId":"e4fc7f60-d922-4beb-8f49-1f5df5805a33"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"itsupport@nile-sugar.com;massaf@nile-sugar.com;hsupport@nile-sugar.com;mhany@nile-sugar.com","emailMessage/Subject":"Consumables Stock Report – @{formatDateTime(utcNow(),'MMMM yyyy')}\n","emailMessage/Body":"<p class=\"editor-paragraph\">@{concat(\r\n'Dears,<br><br>',\r\n'Please find below the monthly consumables stock status.<br><br>',\r\noutputs('StyledTable'),\r\n'<br><br>Regards,<br>IT Infrastructure'\r\n)\r\n}<br></p><br>","emailMessage/From":"Power_Apps@nile-sugar.com","emailMessage/Cc":"adwedar@nile-sugar.com;kibrahim@nile-sugar.com;mhegazy@nile-sugar.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"StyledTable":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"90f12375-c942-42e0-8601-f1fba427ba10"},"type":"Compose","inputs":"@concat(\r\n'<style>\r\ntable {\r\n  border-collapse: collapse;\r\n  width: 100%;\r\n  font-family: Arial, sans-serif;\r\n  font-size: 13px;\r\n}\r\nth {\r\n  background-color: #2f2f2f;\r\n  color: white;\r\n  border: 1px solid #555;\r\n  padding: 8px;\r\n  text-align: left;\r\n}\r\ntd {\r\n  border: 1px solid #555;\r\n  padding: 8px;\r\n}\r\n</style>',\r\nbody('Create_HTML_table')\r\n)\r\n"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"907b3008481145d292c8e254eb61a07e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365-1":{"connectionName":"1e5d752165d9430489e50154856fb177","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}