Files/Microsoft.Flow/flows/9020bde6-5bbf-4551-9ee5-a44bdfe0516e/definition.json
{"name":"d1d96e2e-f4ac-474a-8e3a-5123e7738ef0","id":"/providers/Microsoft.Flow/flows/d1d96e2e-f4ac-474a-8e3a-5123e7738ef0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Consumables Release","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"449a94d6-4964-47bc-a63b-34eb74ce62fe","type":"User","tenantId":"17376055-4781-4ad5-bbef-75d5442a36d3"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-01-21T09:18:11.2350461Z","connectionKeySavedTimeKey":"2026-01-21T09:18:11.2350461Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"evaluatedRecurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"59ca4236-0129-4420-9ffd-757ed4a52a2d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nilesugareg.sharepoint.com/sites/IT423-ITInfrastructure","table":"ac265318-77a0-44a2-bfd4-d8371c12b27f"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"5e8207ab-dbd2-45e0-bf55-1eae201f219a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nilesugareg.sharepoint.com/sites/IT423-ITInfrastructure","table":"bda1d084-3a03-4253-a3c4-daad9e86ea4a","id":"@triggerBody()?['Item/Id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"CurrentStock":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"b8fb050d-9a25-48a8-8c0f-27f9830662a3"},"type":"Compose","inputs":"@int(body('Get_item')?['field_4'])\r\n"},"NewStock":{"runAfter":{"CurrentStock":["Succeeded"]},"metadata":{"operationMetadataId":"6ed2dd48-754a-4a6d-8f18-7bea3292c509"},"type":"Compose","inputs":"@sub(\r\n  outputs('CurrentStock'),\r\n  triggerBody()?['Quantity']\r\n)\r\n"},"Update_item":{"runAfter":{"NewStock":["Succeeded"]},"metadata":{"operationMetadataId":"ff5dba87-a1d5-4496-b1d9-96808b0a6c2d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nilesugareg.sharepoint.com/sites/IT423-ITInfrastructure","table":"bda1d084-3a03-4253-a3c4-daad9e86ea4a","id":"@body('Get_item')?['ID']\r\n","item/field_4":"@outputs('NewStock')\r\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"907b3008481145d292c8e254eb61a07e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}