Files/Microsoft.Flow/flows/558e74f5-33fb-4ecc-83c9-1e09263a58cb/definition.json
{"name":"80f80ccb-47ef-403a-b224-689de1f82b42","id":"/providers/Microsoft.Flow/flows/80f80ccb-47ef-403a-b224-689de1f82b42","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Monthly Consumables Release Report","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"449a94d6-4964-47bc-a63b-34eb74ce62fe","type":"User","tenantId":"17376055-4781-4ad5-bbef-75d5442a36d3"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-03-17T08:34:18.0230266Z","connectionKeySavedTimeKey":"2026-03-17T08:34:18.0230266Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Month","interval":1,"startTime":"2026-01-01T08:00:00.000Z"},"evaluatedRecurrence":{"frequency":"Month","interval":1,"startTime":"2026-01-01T08:00:00.000Z"},"metadata":{"operationMetadataId":"8e1bafd3-1a8e-4d36-a20e-14584cd9b3c8"},"type":"Recurrence"}},"actions":{"StartOfLastMonth":{"runAfter":{},"metadata":{"operationMetadataId":"fcfea4d9-eb42-41d2-a0c5-dd0b46eb7a08"},"type":"Compose","inputs":"@startOfMonth(addToTime(utcNow(), -1, 'Month'))\r\n"},"EndOfLastMonth":{"runAfter":{"StartOfLastMonth":["Succeeded"]},"metadata":{"operationMetadataId":"96ca325f-9010-431f-bc9d-9db36b06d86d"},"type":"Compose","inputs":"@addSeconds(\r\n  startOfMonth(utcNow()),\r\n  -1\r\n)\r\n"},"Create_HTML_table":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"b975d0c0-ed81-48f7-be6b-fb3ef887733d"},"type":"Table","inputs":{"from":"@outputs('Get_items')?['body/value']","format":"HTML","columns":[{"header":"Item","value":"@item()?['Item']?['Value']"},{"header":"Oracle Code","value":"@item()?['Oracle_x0020_Code']"},{"header":"Quantity","value":"@item()?['Quantity']"},{"header":"Released To","value":"@item()?['Released_x0020_To']?['DisplayName']"},{"header":"Location","value":"@item()?['Location']?['Value']"},{"header":"Release Date","value":"@formatDateTime(item()?['Release_x0020_Date'],'dd/MM/yyyy')\r\n"},{"header":"Released By","value":"@item()?['Released_x0020_By']?['DisplayName']"}]}},"Send_an_email_(V2)":{"runAfter":{"StyledTable":["Succeeded"]},"metadata":{"operationMetadataId":"2b23e33a-daf1-4097-9657-b4cfdd01b50a"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"itsupport@nile-sugar.com;massaf@nile-sugar.com;mhany@nile-sugar.com;hsupport@nile-sugar.com","emailMessage/Subject":"Monthly Consumables Release - @{formatDateTime(utcNow(),'MMMM yyyy')}\n","emailMessage/Body":"<p class=\"editor-paragraph\">@{concat(\r\n'Dears,<br><br>',\r\n'Please find below the monthly consumables release report for the previous month.<br><br>',\r\n'Period:<br><b>',\r\nformatDateTime(outputs('StartOfLastMonth'),'dd/MM/yyyy'),\r\n'</b> to <b>',\r\nformatDateTime(outputs('EndOfLastMonth'),'dd/MM/yyyy'),\r\n'</b><br><br>',\r\noutputs('StyledTable'),\r\n'<br><br>Regards,<br>IT Infrastructure'\r\n)\r\n}</p>","emailMessage/From":"Power_Apps@nile-sugar.com","emailMessage/Cc":"adwedar@nile-sugar.com;kibrahim@nile-sugar.com;mhegazy@nile-sugar.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Get_items":{"runAfter":{"EndOfLastMonth":["Succeeded"]},"metadata":{"operationMetadataId":"5ee3dde3-e10f-4d3a-86f1-bf0b07358746"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nilesugareg.sharepoint.com/sites/IT423-ITInfrastructure","table":"ac265318-77a0-44a2-bfd4-d8371c12b27f","$filter":"Release_x0020_Date ge '@{outputs('StartOfLastMonth')}'\nand Release_x0020_Date le '@{outputs('EndOfLastMonth')}'\n\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"StyledTable":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"ccb32a0e-e346-4aef-b675-0ed7631c8e5c"},"type":"Compose","inputs":"@concat(\r\n'<style>\r\ntable {\r\n  border-collapse: collapse;\r\n  width: 100%;\r\n  font-family: Arial, sans-serif;\r\n  font-size: 13px;\r\n}\r\nth {\r\n  background-color: #f2f2f2;\r\n  border: 1px solid #000;\r\n  padding: 8px;\r\n  text-align: left;\r\n}\r\ntd {\r\n  border: 1px solid #000;\r\n  padding: 8px;\r\n}\r\n</style>',\r\nbody('Create_HTML_table')\r\n)\r\n"}}},"connectionReferences":{"shared_office365-1":{"connectionName":"1e5d752165d9430489e50154856fb177","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"907b3008481145d292c8e254eb61a07e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}